{deps, [
{lager,".*",{git,"https://github.com/erlang-lager/lager","master"}},{amqp_client,".*",{git,"https://github.com/rabbitmq/rabbitmq-erlang-client","master"}},{ecpool,".*",{git,"https://github.com/emqx/ecpool","v0.3.0"}},{bson,".*",{git,"https://github.com/comtihon/bson-erlang","master"}}
]}.
{erl_opts, [debug_info]}.
